<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

  <bean id="testBean" class="com.xie.java.beans.TestBean">
    <property name="user" ref="users"></property>
  </bean>

  <bean id="users" class="com.xie.java.beans.User">
    <property name="name" value="ssss"></property>
  </bean>

  <bean id="tesss" class="com.xie.java.beans.Tesss">

  </bean>

  <bean id="sss" class="com.xie.java.beans.DynamMod">

  </bean>
</beans>